*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Phetsarath OT';
}
.header{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
.logo{
    flex: 20%;
}
.logo img{
    height: auto;
    width: 13%;
    margin-top: 5%;
    float: left;
}
.gridH{
    flex: 20%;
}
.gridH ul.menu li{
    list-style-type: none;
}
ul.menu li a{
    text-decoration: none;
    color: #fff;
}
.gridH ul.menu{
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3,15%) repeat(2,26%);
}
.menu li a.action{
    color: #FFB000;
    text-decoration: underline;
}
ul.menu li a:hover{
    color: #FFB000;
    transition: 0.4s;

}




/* ============================= responsive ================================== */
@media (max-width: 800px) {
    .header {
      flex-direction: column;
    }
    .gridH ul.menu{
        grid-template-columns: repeat(3,15%) repeat(2,30%);
    }
    ul.menu li a{
        font-size: 3vw;
    }
    .header .logo a img{
        display: none;
    } 
    .bar ul.menu2{
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(3,20%);
    }
    .resBar{
        margin-top: 5%;
    }
    .bar ul.menu2 li a{
        font-size: 14px;
    }

}


/* ++++++++++++++++++++++++++++++++++++ Bar ++++++++++++++++++++++++++++++++ */

.bar{
    margin-top: 1%;
    background-color: #FFB000;
    padding: 0.7% 0 0.7% 0;
}
ul.menu2{
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(3,8%);
}
ul.menu2 li{
    list-style-type: none;
}
ul.menu2 li a{
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
}
ul.menu2 li a:hover{
    color: #fff;
    text-decoration: underline;
    transition: 0.4s;

}
ul.menu2 .actionBar{
    color: #fff;
}


body{
    background-color: #0F1223 ;
}
.bar #back{
    margin-top: 2%;
    margin-left: 10%;
    color: hsl(0, 4%, 90%);
}
.img img{
    height: auto;
    width: 50%;
    margin-top: 2%;
}
.topic{
    font-size: 25;
    color: #fff;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.blog{
    margin-left: 25%;
    margin-right: 25%;
}
.blog p{
    color: #fff;
}
#tab{
    padding: 3%;
}
#ref{
    color: #FFB000;
    font-size: 20;
}
#link{
    color: #0000ff;
    text-decoration: none;
}
.books{
    text-align: center;
}
.books img{
    margin-top: 2%;
    height: auto;
    width: 40%;
}
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    border: 3px solid #fff;
    border-right: none;
    height: 25px;
    border-radius: 10px 0 0 10px;
    outline: none;
    padding-left: 7%;
    padding-right: 85%;
  }
  
  .searchTerm:focus{
    color: #FFB000;
  }
  
  .searchButton {
    width: 10%;
    border: 1px solid #fff;
    text-align: center;
    color: #FFB000;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 16px;
    padding-right: 16%;
  }


@media screen and (max-width:800px) {
    .img img{
        height: auto;
        width: 80%;
    }
    .blog{
        margin-left: 10%;
        margin-right: 10%;
    }
    .topic{
        font-size: 18;
        text-align: center;
    }
    #link{
        margin-top: 15px;
        font-size: 11;
    }
    .searchTerm {
        display: none;
       
    }
    .searchButton{
        background-color: #FFB000;
        color: #000;
        border: none;
        margin-top: 3%;
    }
    .books img{
        width: 80%;
    }
  }

  @media screen and (prefers-reduced-motion: no-preference) {
    html,body {
    scroll-behavior: smooth;
    }
  }
  .back-to-top-link {
    color: #fff;
    text-decoration: none;
    font-size: 3rem;
    right: 50px;
    float: right;
    width: 35;
    height: 35;
    background: #FFB000;
    border-radius: 0.2em;
    position: fixed;
    text-align: center;
    font-size: 25;
    padding-top: 5;
  }
  .back-to-top-link {
      pointer-events: all;
      top: calc(100vh - 5rem);
    }